= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :max_pages_size, '页面大小限制 (MB)', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :max_pages_size, class: 'form-control'
        .help-block 设为0则不限制大小
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :pages_domain_verification_enabled do
            = f.check_box :pages_domain_verification_enabled
            要求用户提供自定义域名的所有权证明
        .help-block
          域名验证是公共 GitLab 站点的一项重要安全措施。
          用户必须在启用前证明具有该域名的所有权。
          = link_to icon('question-circle'), help_page_path('user/project/pages/getting_started_part_three.md', anchor: 'dns-txt-record')

  = f.submit '保存修改', class: "btn btn-success"
