= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :recaptcha_enabled do
            = f.check_box :recaptcha_enabled
            启用 reCAPTCHA
          %span.help-block#recaptcha_help_block 帮助阻止机器人创建账户

    .form-group
      = f.label :recaptcha_site_key, 'reCAPTCHA 站点密钥', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :recaptcha_site_key, class: 'form-control'
        .help-block
          在
          %a{ href: 'http://www.google.com/recaptcha', target: 'blank' } http://www.google.com/recaptcha
          生成站点和私钥。

    .form-group
      = f.label :recaptcha_private_key, 'reCAPTCHA 私钥', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :recaptcha_private_key, class: 'form-control'

    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :akismet_enabled do
            = f.check_box :akismet_enabled
            启用 Akismet
          %span.help-block#akismet_help_block 帮助阻止机器人创建问题

    .form-group
      = f.label :akismet_api_key, 'Akismet API Key', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :akismet_api_key, class: 'form-control'
        .help-block
          在
          %a{ href: 'http://www.akismet.com', target: 'blank' } http://www.akismet.com
          创建 API Key

    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :unique_ips_limit_enabled do
            = f.check_box :unique_ips_limit_enabled
            限制从多个 IP 登录
          %span.help-block#unique_ip_help_block
            帮助阻止恶意用户隐藏其活动

    .form-group
      = f.label :unique_ips_limit_per_user, '每用户的 IP 数', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :unique_ips_limit_per_user, class: 'form-control'
        .help-block
          每个用户最多的唯一 IP 数量

    .form-group
      = f.label :unique_ips_limit_time_window, 'IP 过期时间', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :unique_ips_limit_time_window, class: 'form-control'
        .help-block
          只计算多少秒以内的 IP 数量。

  = f.submit _('Save changes'), class: "btn btn-success"
