- is_current_session = active_session.current?(session)

%li
  .pull-left.append-right-10{ data: { toggle: 'tooltip' }, title: active_session.human_device_type }
    = active_session_device_type_icon(active_session)

  .description.pull-left
    %div
      %strong= active_session.ip_address
    - if is_current_session
      %div 这是你当前的会话
    - else
      %div
        最后访问于
        = l(active_session.updated_at, format: :short)

    %div
      %strong= active_session.browser
      于
      %strong= active_session.os

    %div
      %strong 登录
      于
      = l(active_session.created_at, format: :short)

  - unless is_current_session
    .pull-right
      = link_to profile_active_session_path(active_session.session_id), data: { confirm: '你确定吗？这个设备将会从 GitLab 注销。' }, method: :delete, class: "btn btn-danger prepend-left-10" do
        %span.sr-only 撤销
        撤销
