- page_title '活跃会话'
- @content_class = "limit-container-width" unless fluid_layout

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      这是登录到你的账户的设备列表。撤销任何你不认识的会话。
  .col-lg-8
    .append-bottom-default

      %ul.well-list
        = render partial: 'profiles/active_sessions/active_session', collection: @sessions
